<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommendations</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <h1>🎬 FilmFinderz - Recommandations</h1>
            <p>Voici vos recommandations personnalisées basées sur vos préférences de films.</p>
        </header>

        <section class="recommendation-list" id="recommendation-list">
            {{recommandations}}
            <br>
            {% for recommendation in recommandations[:20] %}
            <div class="film-card" data-film="{{ recommendation['Film'] }}" data-category="science-fiction">
                <img class="poster" src="https://picsum.photos/800/400?random=2">
                <div class="film-info">
                    <h3>{{ recommendation['Film'] }}</h3>
                    {% if recommendation['Realisateurs'].__len__() > 0 %}
                    <p>Realisateurs: {{ recommendation['Realisateurs'] | join(', ') }}</p>
                    {% endif %}
                    {% if recommendation['Acteurs'].__len__() > 0 %}
                    <p>Acteurs: {{ recommendation['Acteurs'] | join(', ') }}</p>
                    {% endif %}
                    {% if recommendation['Genres'].__len__() > 0 %}
                    <p>Genres: {{ recommendation['Genres'] | join(', ') }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
</html>