<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommendations</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <h1>🎬 FilmFinderz - Recommandations</h1>
            <p>Voici vos recommandations personnalisées basées sur vos préférences de films.</p>
        </header>

        <section class="recommendation-list" id="recommendation-list">
            {{recommandations}}
        </section>
</html>