<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Navig Ciné</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/recommandations.js"></script>
    <script type="text/javascript" src="static/sparql.js"></script>
</head>
<body>

<header>
    <h1>🎬 Navig Ciné</h1>
    <p>Découvrez et notez des films pour obtenir des recommandations intelligentes</p>
</header>

<section class="film-list">
    <!-- Les cartes de films seront insérées ici dynamiquement -->
</section>

<div class="baseboard">
    <button class="btn sendRatings" onclick="sendRatings()">Obtenir mes recommandations</button>
</div>

<script type="text/javascript" src="static/cards.js" defer></script>
<script type="text/javascript" src="static/main.js" defer></script>

</body>

</html>